h1 {
  /*	font-family:"Arial Black", Gadget, sans-serif;*/
  font-family: "Times New Romans", Gadget, sans-serif;
  text-align: center;
}
body {
  color: black;
  background-color: white;
  left-margin: 10px;
  right-margin: 10px;
}
table {
  width: 95%;
  border-collapse: collapse;
  table-layout: fixed;
}
td {
  border: rgba(224, 119, 70, 1) 2px solid;
  word-wrap: break-word;
}
table#close {
  table-layout: default;
  border-collapse: seperate;
  border-spacing: 5px 5px;
  border: none;
  vertical-align: top;
}
table.none {
  border: none;
  vertical-align: top;
}
table.none td {
  border: none;
}
tr.row td {
  text-decoration: italic;
}
th.status {
  width: 5%;
}
th.name {
  width: 20%;
}
th.des {
  width: 40%;
  padding: 5px 5px 5px 5px;
}
th.date {
  width: 8%;
}
th.pr {
  width: 7%;
}
th.func1 {
  width: 9.5%;
}
th.func2 {
  width: 9.5%;
}
input[type="submit"] {
  width: 20em;
  height: 2em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a.active {
  background-color: #4caf50;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
.func1 button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

footer {
  bottom: 0%;
  background-color: #212529;
  color: #ffc107;
  position: sticky;
  width: 100%;
  height: 5%;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}
